@charset "UTF-8";

@keyframes rainbow {
    0%, to {
        background: violet
    }

    25% {
        background: orange
    }

    50% {
        background: #ff0
    }

    75% {
        background: #00f
    }
}

.align-start {
    align-items: start
}

.align-center {
    align-items: center
}

.fugu-showcase label[for=api-select] {
    text-transform: uppercase
}

.decoration-none {
    text-decoration: none
}

.direction-column {
    flex-direction: column
}

.display-block {
    display: block
}

.display-inline-block {
    display: inline-block
}

.display-flex {
    display: flex
}

.display-inline-flex {
    display: inline-flex
}

.display-grid {
    display: grid
}

.display-none {
    display: none
}

.type--caption+pre[class*=language-] {
    --flow-space: 0.5rem
}

.flow-space-300 {
    --flow-space: 1rem
}

.flex-1 {
    flex: 1
}

.flex-shrink-none {
    flex-shrink: 0
}

body, h1, h2, h3, p, pre {
    margin: 0
}

.gap-300 {
    margin: 1rem
}

.gap-top-200 {
    margin-top: .5rem
}

.gap-top-300 {
    margin-top: 1rem
}

.gap-top-400 {
    margin-top: 1.5rem
}

.gap-top-500 {
    margin-top: 2rem
}

.gap-top-1000 {
    margin-top: 4.5rem
}

.gap-bottom-0 {
    margin-bottom: 0
}

.gap-bottom-100 {
    margin-bottom: .25rem
}

.gap-left-200 {
    margin-left: .5rem
}

.gap-left-300 {
    margin-left: 1rem
}

.gap-left-400 {
    margin-left: 1.5rem
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-gap-300 {
    gap: 1rem
}

.grid-gap-500 {
    gap: 2rem
}

.height-600 {
    height: 2.5rem
}

.height-700 {
    height: 3rem
}

.justify-content-between {
    justify-content: space-between
}

.justify-content-around {
    justify-content: space-around
}

.justify-content-center {
    justify-content: center
}

.justify-self-end {
    justify-self: end
}

.object-fit-cover {
    object-fit: cover
}

.overflow-hidden {
    overflow: hidden
}

.pad-0 {
    padding: 0
}

.pad-200, top-nav {
    padding: .5rem
}

.pad-300 {
    padding: 1rem
}

.pad-400 {
    padding: 1.5rem
}

.pad-top-300 {
    padding-top: 1rem
}

.pad-top-600 {
    padding-top: 2.5rem
}

.pad-right-200 {
    padding-right: .5rem
}

.pad-right-400 {
    padding-right: 1.5rem
}

.pad-bottom-600 {
    padding-bottom: 2.5rem
}

.pad-left-0 {
    padding-left: 0
}

.pad-left-200 {
    padding-left: .5rem
}

.pad-left-400 {
    padding-left: 1.5rem
}

.text-align-center {
    text-align: center
}

.rounded-100 {
    border-radius: .25rem
}

.rounded-lg {
    border-radius: .75rem
}

.user-select-none {
    user-select: none
}

.visibility-hidden {
    visibility: hidden
}

.width-600 {
    width: 2.5rem
}

.width-700 {
    width: 3rem
}

.width-full, side-nav navigation-tree, video {
    width: 100%
}

@media screen and (min-width:592px) {
    .md\:direction-row {
        flex-direction: row
    }

    .md\:gap-top-400 {
        margin-top: 1.5rem
    }

    .md\:pad-400 {
        padding: 1.5rem
    }
}

@media screen and (min-width:992px) {
    .lg\:align-center {
        align-items: center
    }

    .lg\:direction-row {
        flex-direction: row
    }

    .lg\:display-flex {
        display: flex
    }

    .lg\:display-none {
        display: none
    }

    .lg\:flow-space-500 {
        --flow-space: 2rem
    }

    .lg\:gap-top-0 {
        margin-top: 0
    }

    .lg\:gap-left-400 {
        margin-left: 1.5rem
    }

    .lg\:gap-left-500 {
        margin-left: 2rem
    }

    .lg\:grid-gap-500 {
        gap: 2rem
    }

    .lg\:pad-right-0 {
        padding-right: 0
    }

    .lg\:pad-right-200 {
        padding-right: .5rem
    }

    .lg\:pad-right-600 {
        padding-right: 2.5rem
    }

    .lg\:pad-left-0 {
        padding-left: 0
    }

    .lg\:pad-left-200 {
        padding-left: .5rem
    }

    .lg\:pad-left-600 {
        padding-left: 2.5rem
    }
}

@media screen and (min-width:860px) {
    .masonry\:align-start {
        align-items: start
    }

    .masonry\:direction-row {
        flex-direction: row
    }

    .masonry\:gap-top-0 {
        margin-top: 0
    }

    .masonry\:pad-top-1000 {
        padding-top: 4.5rem
    }

    .masonry\:pad-right-500 {
        padding-right: 2rem
    }

    .masonry\:pad-bottom-1000 {
        padding-bottom: 4.5rem
    }

    .masonry\:pad-left-500 {
        padding-left: 2rem
    }
}

.navigation-rail__link {
    border-radius: 0 100px 100px 0;
    display: flex;
    padding: .375rem .5rem .375rem 0;
    text-align: left;
    text-decoration: none;
    user-select: none
}

.navigation-rail__link {
    align-items: center
}

.navigation-rail__link:hover {
    background: var(--color-side-nav-hover)
}

.navigation-rail__link:focus {
    z-index: 1
}

.navigation-rail__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute
}

.navigation-rail__icon::before {
    content: "​"
}

.navigation-rail__icon>svg {
    min-width: 24px;
    transition: transform .2s
}

[data-state=active].navigation-rail__link {
    background: var(--color-secondary);
    color: var(--color-side-nav-active)
}

.footer__link, .material-button, .search-box__link, .skip-link, .surface {
    overflow: hidden;
    position: relative
}

.footer__link::before, .material-button::before, .search-box__link::before, .skip-link::before, .surface::before {
    background-color: var(--overlay-background-color, currentColor);
    border-radius: 2px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .2s opacity;
    width: 100%
}

.footer__link:hover::before, .material-button:hover::before, .search-box__link:hover::before, .skip-link:hover::before, .surface:hover::before {
    opacity: .08
}

.footer__link:focus-within::before, .material-button:focus-within::before, .search-box__link:focus-within::before, .skip-link:focus-within::before, .surface:focus-within::before {
    opacity: .12
}

.footer__link:active::before, .material-button:active::before, .search-box__link:active::before, .skip-link:active::before, .surface:active::before {
    opacity: .16
}

.link, a:not([class]) {
    color: var(--link-color, var(--color-primary))
}

.link:not(.no-visited):visited, a:not(.no-visited):visited:not([class]) {
    color: var(--link-visited-color, var(--color-link-default-visited))
}

.link:hover, a:hover:not([class]) {
    background-color: rgba(var(--link-rgb-background, var(--rgb-primary)), .08)
}

.link:not(.no-visited):visited:hover, a:not(.no-visited):visited:hover:not([class]) {
    background-color: rgba(var(--link-rgb-background, var(--rgb-link-default-visited)), .08)
}

.link:focus, .link:focus-within, a:focus-within:not([class]), a:focus:not([class]) {
    background-color: rgba(var(--link-rgb-background, var(--rgb-primary)), .12)
}

.link:active, a:active:not([class]) {
    background-color: rgba(var(--link-rgb-background, var(--rgb-primary)), .16)
}

.type h1:not([class^=type--var]), .type h2:not([class^=type--var]), .type h3:not([class^=type--var]), .type--cta, .type--footer, .type--h1, .type--h3-card, .type--h5, .type--h6 {
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed
}

.type--h1 {
    font-size: 3rem;
    line-height: 1.1666666667
}

@supports (font-size:clamp(2.25em, 5.859375vw, 3.75em)) {
    .type--h1 {
        font-size: clamp(2.25em, 5.859375vw, 3.75em);
        line-height: 1.2
    }
}

.type h1:not([class^=type--var]) {
    font-size: 2.5rem;
    line-height: 1.2
}

@supports (font-size:clamp(1.75em, 4.6875vw, 3em)) {
    .type h1:not([class^=type--var]) {
        font-size: clamp(1.75em, 4.6875vw, 3em);
        line-height: 1.1666666667
    }
}

.type h2:not([class^=type--var]) {
    font-size: 2rem;
    line-height: 1.25
}

@supports (font-size:clamp(1.5em, 3.515625vw, 2.25em)) {
    .type h2:not([class^=type--var]) {
        font-size: clamp(1.5em, 3.515625vw, 2.25em);
        line-height: 1.2222222222
    }
}

.type--h3-card {
    font-size: 2rem;
    line-height: 1.25
}

@supports (font-size:clamp(1.5em, 3.125vw, 2em)) {
    .type--h3-card {
        font-size: clamp(1.5em, 3.125vw, 2em);
        line-height: 1.25
    }
}

.type h3:not([class^=type--var]) {
    font-size: 1.75rem;
    line-height: 1.2857142857
}

@supports (font-size:clamp(1.125em, 2.734375vw, 1.75em)) {
    .type h3:not([class^=type--var]) {
        font-size: clamp(1.125em, 2.734375vw, 1.75em);
        line-height: 1.2857142857
    }
}

.type--h5 {
    font-size: 1.25rem;
    line-height: 1.4
}

@supports (font-size:clamp(1em, 1.953125vw, 1.25em)) {
    .type--h5 {
        font-size: clamp(1em, 1.953125vw, 1.25em);
        line-height: 1.4
    }
}

.type--h6 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75
}

@supports (font-size:clamp(.875em, 1.5625vw, 1em)) {
    .type--h6 {
        font-size: clamp(.875em, 1.5625vw, 1em);
        line-height: 1.75
    }
}

.type--footer {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75
}

.type--cta {
    font-weight: 500
}

.type--cta {
    font-size: 1rem;
    line-height: 1.5
}

.banner, .material-button, .skip-link, .type, .type ol:not([class])>li::before, .type--caption, .type--label, .type--small, :root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    text-rendering: optimizeSpeed
}

.banner, .material-button, .skip-link, .type--small {
    font-size: .875rem;
    line-height: 1.4285714286
}

.type ol:not([class])>li::before, .type--caption {
    font-size: .875rem;
    line-height: 1.7142857143
}

.type--label {
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.3333333333
}

.type ul:not([class]) {
    list-style: none;
    margin-left: 3rem;
    padding: 0;
    position: relative
}

@media (min-width:992px) {
    .type ul:not([class]) {
        max-width: calc(100% - 6rem)
    }
}

.type ul:not([class])>li {
    margin-top: .5em
}

.type ol:not([class])>li:first-of-type, .type ul:not([class])>li:first-of-type {
    margin-top: 0
}

.type ul:not([class])>li::before {
    background: #5f6368;
    border-radius: 50%;
    content: "";
    display: inline-flex;
    height: .5rem;
    margin-left: -1.5rem;
    margin-right: 1rem;
    position: absolute;
    transform: translateY(.625rem);
    width: .5rem
}

.type ol:not([class]) {
    list-style: none;
    margin-left: 3.5rem;
    padding: 0;
    position: relative;
    counter-reset: ol-step-counter
}

@media (min-width:992px) {
    .type ol:not([class]) {
        max-width: calc(100% - 7rem)
    }
}

.type ol:not([class])>li {
    counter-increment: ol-step-counter;
    margin-top: .5em
}

.type ol:not([class])>li::before {
    background: #f1f3f4;
    border-radius: 50%;
    content: counter(ol-step-counter);
    display: inline-flex;
    flex-shrink: 0;
    height: 1.5rem;
    justify-content: center;
    margin-left: -2.5rem;
    margin-right: 1rem;
    position: absolute;
    transform: translateY(.1875rem);
    width: 1.5rem
}

.type code, .type pre {
    font-family: ui-monospace, Menlo, Consolas, Monaco, "Roboto Mono", "Source Code Pro", "Liberation Mono", "Lucida Console", monospace;
    font-size: .9375em;
    line-height: 1.7333333333
}

@font-face {
    font-display: swap;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/google-sans-v2003/regular/cyrillic.woff2)format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-display: swap;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/google-sans-v2003/regular/greek.woff2)format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-display: swap;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/google-sans-v2003/regular/vietnamese.woff2)format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-display: swap;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/google-sans-v2003/regular/latin-ext.woff2)format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-display: swap;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/google-sans-v2003/regular/latin.woff2)format("woff2");
    unicode-r…